<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type = "text/xsl" href = "grocery.xsl"?> 

<grocery>
    <item item_id = "101">
        <name>Amul Milk</name>
        <quantity>1 Litre</quantity>
        <price>50</price>
        <description>Supplier - Deleazzy Grocery Ltd.</description>
        <calories>650</calories>
    </item>
    <item item_id = "102">
        <name>Amul Butter</name>
        <quantity>200 gms</quantity>
        <price>90</price>
        <description>Supplier - Deleazzy Grocery Ltd.</description>
        <calories>1200</calories>
    </item>
    <item item_id = "103">
        <name>Amul Bread</name>
        <quantity>500 gms</quantity>
        <price>35</price>
        <description>Supplier - Deleazzy Grocery Ltd.</description>
        <calories>450</calories>
    </item>
    <item item_id = "104">
        <name>Real Mixed Fruit Juice</name>
        <quantity>1 Litre</quantity>
        <price>150</price>
        <description>Supplier - Deleazzy Grocery Ltd.</description>
        <calories>1650</calories>
    </item>
    <item item_id = "105">
        <name>Kellog's Cornflakes - Honey and Almond</name>
        <quantity>1 Kg</quantity>
        <price>350</price>
        <description>Supplier - Deleazzy Grocery Ltd.</description>
        <calories>1250</calories>
    </item>
    <item item_id = "106">
        <name>Sofit - Almond Milk</name>
        <quantity>1 Litre</quantity>
        <price>540</price>
        <description>Supplier - Deleazzy Grocery Ltd.</description>
        <calories>650</calories>
    </item>
</grocery>

